@import "@styles/animations.scss";

$upload_default_bg: #f6f6f6;
$upload_hover_bg: #ddd;

.studio-videolist {
  &__upload {
    padding-top: 16px;
    padding-bottom: 16px;

    cursor: pointer;

    background-color: $upload_default_bg;

    outline: 2px rgb(48, 48, 48) solid;

    display: flex;
    gap: 4px;
    justify-content: center;

    animation: hover_out 0.05s linear;

    &:hover {
      animation: hover_in 0.05s linear forwards;
    }
  }

  &__list {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@keyframes hover_in {
  from {
    background-color: $upload_default_bg;
  }

  to {
    background-color: $upload_hover_bg;
  }
}

@keyframes hover_out {
  from {
    background-color: $upload_hover_bg;
  }

  to {
    background-color: $upload_default_bg;
  }
}
