@import "@styles/animations.scss";

.plm-videoitem {
  padding: 8px;

  border-radius: 12px;

  background-color: rgb(255, 255, 255);

  cursor: pointer;

  background-color: rgb(55, 55, 55);

  &:hover {
    background-color: rgb(75, 75, 75);
  }

  &-image {
    background-position: center;
    background-size: cover;

    border-radius: 12px;

    width: 124px;
    height: 70px;

    padding: 4px;

    &__duration {
      padding: 4px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.407);
      font-size: 12px;
    }
  }

  &-chname {
    font-size: 12px;

    color: rgb(184, 184, 184);
  }
}
