@import "./Variables.scss";
@import "./Mixins.scss";
@import "./Inputs.scss";

* {
  margin: 0;

  div,
  a {
    color: white;
  }

  font-family: "Montserrat";
}

body {
  background-color: rgb(21, 21, 21);
}
