@import "./Mixins.scss";

@mixin TextField() {
  color: black;

  @include defaultFont(14px);

  font-weight: 500;

  resize: none;

  padding: 8px;
  padding-left: 12px;

  border-radius: 12px;

  outline: none;

  border: solid 1px black;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: solid 2px black;
  }
}

@mixin Textarea() {
  color: black;

  @include defaultFont(14px);

  font-weight: 500;

  resize: none;

  padding: 8px;
  padding-left: 12px;

  border-radius: 12px;

  outline: none;

  border: solid 1px black;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: solid 2px black;
  }
}