@mixin defaultFont($fontsize) {
  font-family: "Montserrat", serif;
  font-weight: 300;

  font-size: $fontsize;
}

@mixin boldFont($fontsize) {
  font-family: "Montserrat", serif;
  font-weight: bold;

  font-size: $fontsize;
}

@mixin Avatar($size) {
  width: $size;
  height: $size;

  border-radius: 999px;

  background-position: center;
  background-size: cover;
}
