.videoelement {
  display: flex;

  flex-direction: column;

  background-color: #d6d6d6;
  padding: 12px;

  border-radius: 8px;

  gap: 6px;

  cursor: pointer;

  &:hover {
    background-color: #cecece;
    box-shadow: 0 0 4px #cecece;

    .videoelement-image {
      background-size: 105%;
    }
  }

  &-image {
    background-position: center;
    background-size: cover;

    width: 320px;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    border-radius: 16px;

    &-duration {
      margin-bottom: 6px;
      margin-right: 6px;

      padding: 4px;

      border-radius: 8px;

      color: white;

      background-color: rgba(0, 0, 0, 0.35);
    }

    &-row {
      display: flex;
      justify-content: end;
    }
  }

  &-info {
    display: flex;

    gap: 6px;

    &-col0 {
      display: flex;
      justify-content: start;

      &__chicon {
        background-position: center;
        background-size: cover;

        width: 48px;
        height: 48px;

        border-radius: 64px;
      }
    }

    &-col1 {
      display: flex;
      justify-content: start;
      flex-direction: column;

      gap: 4px;

      &-title {
        font-weight: bold;
      }

      &__channelname {
        color: #555;

        &:hover {
          color: #222;

          text-decoration: underline;
        }
      }

      &-viewsandcreated {
        font-size: 14px;
      }
    }
  }
}
