@import "@styles/animations.scss";

.plv-videoitem {
  padding: 8px;

  border-radius: 6px;

  cursor: pointer;

  background-color: #ccc;

  &:hover {
    background-color: #bfbfbf;
  }

  &-image {
    color: white;

    background-position: center;
    background-size: cover;

    border-radius: 8px;

    min-width: 124px;
    height: 70px;

    padding: 4px;

    &__duration {
      padding: 4px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.35);
      font-size: 12px;
    }
  }

  &-chname {
    font-size: 12px;
  }
}
