@import "@styles/mixins";

.studio {
  &-header {
    padding: 8px;
    padding-right: 36px;
    padding-left: 36px;
  
    background-color: rgb(31, 31, 31);

    &-channelicon {
      @include Avatar(48px);
    }

    &-name {
      @include boldFont(14px);
    }
  }

  &__tabs {
    background-color: rgb(26, 26, 26);

    .MuiTabs-flexContainer {
      justify-content: center;
    }
  }
}