.player {
  background-color: black;

  border-radius: 8px;
  clip-path: view-box;

  &__main {
    width: min-content;
    height: min-content;

    & > div {
      width: inherit;
      height: inherit;
    }

    & video {
      border-radius: 8px;
    }
  }

  &-controls {
    padding: 10px;

    display: none;
    flex-direction: column;
    justify-content: end;

    position: absolute;
    bottom: 70px;

    &-row {
      display: flex;
    }
  }
}
