@import "@styles/Mixins";
@import "@styles/Inputs";

.w2g {
  margin: 16px;

  &-video {
    width: 60%;
  }

  &-lobbyTitle {
    background-color: rgb(30, 30, 30);
    border-left: solid 1px gray;

    padding: 8px;

    vertical-align: middle;

    & > h5 {
      text-decoration: underline;
    }
  }

  &-selectButton {
    padding: 8px;

    border-radius: 8px;

    border: 2px solid;

    border-color: rgb(117, 117, 117);

    text-align: center;

    background-color: rgb(30, 30, 30);

    &:hover {
      cursor: pointer;
      background-color: rgb(40, 40, 40);
    }

    &__title {
    }
  }

  &-userlist {
    padding: 16px;
    background-color: rgb(41, 41, 41);

    border-radius: 4px;

    max-width: 400px;

    height: min-content;

    &-item {
      &__avatar {
        @include Avatar(64px);
      }
    }
  }

  &-footer {
    flex-direction: row;
    display: flex;
    gap: 4px;
    justify-content: space-between;

    margin: 32px;
  }

  &-chat {
    background-color: rgb(40, 40, 40);
    padding: 8px;
    min-width: 400px;
    border-radius: 4px;

    max-width: 600px;

    &-container {
      background-color: rgb(50, 50, 50);
      padding: 4px;

      height: 400px;
      max-height: 400px;

      overflow-y: auto;
    }

    &__inputMessage {
      @include TextField;

      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .w2g {
    &-video {
      width: 90%;
    }

    &-footer {
      flex-direction: column;
    }
  }
}
