.header {
  display: flex;

  justify-content: space-between;

  padding: 8px;
  padding-right: 16px;

  background-color: rgb(31, 31, 31);

  position: sticky;

  &__sidebarbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-searchbar {
    display: flex;

    flex-direction: column;

    justify-content: center;

    width: 35%;

    &__input {

      border: solid 1px grey;
      border-radius: 32px 0 0 32px;
      
      padding: 8px;
      padding-left: 16px;

      width: 100%;

      input {
        width: 100%;

        background-color: transparent;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    &__sbtn {
      border: solid 1px grey;
      border-radius: 0 32px 32px 0;

      border-left: none;
    }
  }

  &-accaunt {
    &__tbtn {
      cursor: pointer;

      &:hover {
        text-decoration: underline;  
      }
    }

    &__usericon {
      
      border-radius: 32px;

      width: 48px;
      height: 48px;

      background-position: center;
      background-size: cover;
    }
  }
}

.MuiPaper-root {
  background-color: black;
}