@import "@styles/Mixins";

.videopage {
  padding: 16px;

  display: flex;

  margin-left: 48px;
  margin-right: 48px;

  justify-content: space-between;
  gap: 16px;

  &-main {
    width: 60%;

    gap: 8px;
  }

  &-othervideos {
    width: 35%;
  }

  &-vtitle {
    @include boldFont(22px);

    margin-top: 8px;
    margin-bottom: 8px;
  }

  &-views {
  }

  &-tag {
    background-color: #bbbbbb;
    color: black;

    border-radius: 8px;

    padding: 4px;
  }
}

@media screen and (max-width: 1000px) {
  .videopage {
    flex-direction: column;

    margin-left: 20px;
    margin-right: 20px;

    &-main {
      width: 100%;
    }

    &-othervideos {
      width: auto;
    }
  }
}
