@import "@styles/inputs";

.settings {
  &-banner {
    height: 200px;

    padding: 8px;

    &__btn, &__name {
      padding: 4px;

      border-radius: 8px;

      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  &-content {
    padding-left: 64px;
    padding-right: 64px;

    &-icon {
      @include Avatar(128px);
      
      border: solid 2px gray;
    }

    &__btn {
      padding: 4px;

      border-radius: 8px;

      background-color: rgba(0, 0, 0, 0.25);
    }

    &__namefield {
      @include TextField;

      width: 25%;
    }

    &__descriptionfield {
      @include Textarea;
    }
  }
}