@import "@styles/inputs";

$innerPadding: 64px;

@mixin upload {
  padding: 8px;

  border-radius: 100%;

  width: 24px;
  height: 24px;

  outline: solid 1px white;
  background-color: rgba(0, 0, 0, 0.25);

  &:hover {
    outline: solid 2px white;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.settings {
  &-banner {
    padding: 8px;
    padding-top: 16px;
    padding-left: $innerPadding;
    padding-right: $innerPadding;

    height: 200px;

    background-position: center;
    background-size: cover;

    &__name {
      padding: 8px;
      border-radius: 8px;

      background-color: rgba(0, 0, 0, 0.35);

      color: white;
    }

    &__btn {
      @include upload;
    }

    &__name {
      font-size: 24px;
      font-weight: 500;
    }
  }

  &-content {
    padding-left: $innerPadding;
    padding-right: $innerPadding;

    &-icon {
      @include Avatar(128px);

      border: solid 2px white;
    }

    &__btn {
      @include upload;
    }
  }
}
